@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');
@import "tailwindcss";

* {
  font-family: 'Google Sans', sans-serif;
}

*::selection {
  background-color: #58a4b0;
  color: white;
}

body {
  background-color: black;
}

/* index.css or App.css */
html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
